body {
    margin: 0;
    padding: 0;
}

.messages {
    width: 100%;
}

.input {
    width: 100%;
    position: absolute;
    bottom: 0;
}

input[type="submit"] {
    width: 19%;
}

textarea {
    width: 80%;
    float: left;
}
